body{
    margin: 0;
    background-image: url(../images/tree.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Metamorphous", serif;
    color: #d4e3e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.auth-container {
    background: rgba(0, 20, 25, 0.7);
    backdrop-filter: blur(10px);
    padding: 40px 40px;
    width: 350px;
    border-radius: 15px;
    border: 1px solid rgba(121,249,227,0.2);
    box-shadow: 0 0 25px rgba(121,249,227,0.15);
    text-align: center;
}
.auth-container h2 {
    color: #79f9e3;
    margin-bottom: 25px;
    font-size: 25px;
}
.auth-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: rgba(0, 20, 25, 0.4);
    border: 1px solid rgba(121,249,227,0.3);
    border-radius: 8px;
    color: #79f9e3;
    font-size: 14px;
}

.auth-container input::placeholder {
    color: white;
}

.Log {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #00ffc6;
    border: none;
    border-radius: 8px;
    color: #00221c;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.Log:hover {
    opacity: 0.8;
}

.switch {
    margin-top: 20px;
    font-size: 14px;
}
.switch a {
    color: #79f9e3;
    text-decoration: none;
}
.switch a:hover {
    text-decoration: underline;
}
