body {
    margin: 0;
    padding-top: 60px;
    background: #001014;
    color: #d4e3e1;
    font-family: "Metamorphous", serif;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    background: rgba(0, 20, 25, 0.4);
    border: 2px solid rgba(121,249,227,0.2);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(121,249,227,0.2);
}
.section-title {
    text-align: center;
    color: #79f9e3;
    margin-bottom: 30px;
    font-size: 28px;
}
.community-input {
    width: 97%;
    height: 30px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(121,249,227,0.25);
    background: rgba(0, 20, 25, 0.3);
    color: #d4e3e1;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 20px;
}
.comments-box p {
    background: rgba(0, 20, 25, 0.2);
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgba(121,249,227,0.15);
}
.news-box {
    padding: 20px;
    background: rgba(0, 20, 25, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(121,249,227,0.15);
    margin-bottom: 20px;
}
.news-box h3 {
    color: #79f9e3;
    margin-bottom: 10px;
}

