body {
    margin: 0;
    background: #0a0f12;
    color: #d4e3e1;
    overflow-x: hidden;
    padding-top: 120px;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    }

.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0, 20, 25, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 25px rgba(121,249,227,0.15);
    z-index: 999;
}

.logo {
    font-size: 1.3rem;
    color: #79f9e3;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a {
    color: #d4e3e1;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #79f9e3;
}

main {
    text-align: center;
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

h1, h2 {
    color: #79f9e3;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #00ffc6;
    color: #001111;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: #000;
    color: #888;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}
