body {
    position: relative;
    margin: 0;
    background: #0a0f12;
    color: #d4e3e1;
    overflow-x: hidden;
    padding-top: 120px;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    background: radial-gradient(circle at top, #1a2b2e, #0a0f12, #000000);
    height: auto;
}

.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 1100px;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px 30px;
    background: rgba(0, 20, 25, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 25px rgba(121,249,227,0.15);

    z-index: 999;
}

.logo {
    flex: 0 0 auto;
    font-size: 1.3rem;
    color: #79f9e3;
    font-weight: bold;
    white-space: nowrap;
}


.nav-scroll {
    flex: 1;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;

}

.nav-scroll::-webkit-scrollbar {
    display: none;
}


.nav-scroll a {
    flex: 0 0 22%;
    text-align: center;

    padding: 5px 0;
    font-weight: 600;
    color: #d4e3e1;
    text-decoration: none;

    scroll-snap-align: center;   /* snaps cleanly */
    transition: color 0.3s ease;
}

.nav-scroll a:hover {
    color: #79f9e3;
}


.logo {
    font-size: 1.3rem;
    color: #79f9e3;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a {
    color: #d4e3e1;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #79f9e3;
}

main {
    text-align: left;
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}
.hero{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
#map{
    display: flex;
    justify-content: flex-end;
    height: 200px;
    width: 310px;
    border-radius: 15px;
    box-shadow: 0 0 25px 8px rgba(121,249,227,0.6);
}

h1, h2 ,.cards{
    color: #79f9e3;
    margin-bottom: 20px;
}
.cards{
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 55px;
    text-align: center;
}

.card {
    flex: 1;
    background: rgba(0, 20, 25, 0.5);
    border: 2px solid rgba(121,249,227,0.3);
    box-shadow: 0 0 20px rgba(121,249,227,0.15);
    padding: 25px;
    margin: 25px auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    height: 250px;
    gap: 20px;
    }

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: #00ffc6;
    color: #001111;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: #000;
    color: #888;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
}
