body {
    margin: 0;
    background: linear-gradient(135deg, #001214, #01272a, #043f3f);
    font-family: "Metamorphous", serif;
    color: #d4e3e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Box */
.auth-container {
    background: rgba(0, 20, 25, 0.7);
    backdrop-filter: blur(10px);
    padding: 40px 40px;
    width: 350px;
    border-radius: 15px;
    border: 1px solid rgba(121,249,227,0.2);
    box-shadow: 0 0 25px rgba(121,249,227,0.15);
    text-align: center;
}

.auth-container h2 {
    color: #79f9e3;
    margin-bottom: 25px;
    font-size: 1.5rem;
}

/* Inputs */
.auth-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: rgba(0, 20, 25, 0.4);
    border: 1px solid rgba(121,249,227,0.3);
    border-radius: 8px;
    color: #79f9e3;
    font-size: 0.95rem;
}

.auth-container input::placeholder {
    color: #8feee0;
}

/* Button */
.auth-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #00ffc6;
    border: none;
    border-radius: 8px;
    color: #00221c;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.auth-btn:hover {
    opacity: 0.8;
}

/* Switch text */
.switch {
    margin-top: 20px;
    font-size: 0.9rem;
}

.switch a {
    color: #79f9e3;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
}
